/********** Contact section **********/

// .contact-section {
//   position: relative;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   gap: 32px;
//   margin-top: 200px;
//   top: -78px;
// }

.footer-contact-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  border: none;
  width: 368px;
  height: 538px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1),
    0 8px 30px 0 rgba(212, 20, 67, 0.1);
  background: #fff;
  list-style-type: none;
  justify-content: center;
}

.cafe-contact-card-title {
  width: 75px;
  height: 28px;
  background: var(--very-soft-orange);
  color: #fff;
  border: 1px solid;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 32px; */
  display: flex;
  margin: 0;
}

.food-contact-card-title {
  border: 1px solid;
  width: 138px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--very-soft-green);
  color: #ffffff;
  border-radius: 6px;
  margin: 0;
  font-family: var(--font-family);
}

.food-contact-card-title .card-description {
  width: 243px;
  height: 50px;
}

.contact-card-content {
  width: 97%;
  letter-spacing: 0.04em;
  margin-bottom: auto;
  /* list-style-type: none; */
  padding: 0 30px;
}

.card-description {
  color: var(--copyright-text-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.04em;
  // width: 288px;
  // height: 50px;
  font-family: var(--font-family);
}

.card-program {
  color: var(--pale-red);
  letter-spacing: 0.07em;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
}

.contact-info > a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: var(--copyright-text-grey);
  line-height: 0.07em;
  margin-top: 32px;
}
.contact-info > a:hover {
  color: var(--strong-red);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-section-title {
  font-weight: 500;
  // margin-bottom: 8px;
  margin-top: 32px;
}

// .section-line {
//   display: flex;
//   border: 0;
//   border-bottom: 1px solid #e1e1e1;
//   width: 288px;
// }

/********** Footer section **********/

.footer-container {
  background-color: var(--very-pale-red);
  // width: 1200px;
  // height: 877px;
  margin: 0 auto;
  // height: 100%;
}

.location-btn {
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  width: 198px;
  height: 44px;
  background-color: var(--strong-red);
  color: var(--very-light-gray);
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  border: none;
}

.location-btn:active,
.location-btn:hover,
.location-btn:focus {
  background-color: var(--very-light-gray);
  color: var(--strong-red);
  transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.franchise-btn {
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  width: 198px;
  height: 44px;
  background-color: var(--very-light-gray);
  color: var(--strong-red);
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  border: none;
}

.franchise-btn:active,
.franchise-btn:hover,
.franchise-btn:focus {
  background-color: var(--strong-red);
  color: var(--very-light-gray);
  transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.footer-buttons {
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.high-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 16px;
}

.footer-homemade {
  color: var(--pale-red);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: 'Titan One', sans-serif;
  margin-bottom: 16px;
}

.footer-passion {
  max-width: fit-content;
  color: var(--strong-red);
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Titan One', sans-serif;
}

.social-link {
  width: fit-content;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
  display: flex;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: 7px;
  fill: white;
}

.icon-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--very-soft-red);
}

.icon-bg:hover {
  background-color: var(--strong-red);
  transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.footer-contact {
  height: 30px;
  margin-bottom: 50px;
  width: max-content;
}

.feel-free {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000;
}

.phone {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: var(--strong-red);
}

.phone:hover {
  color: var(--very-soft-red);
  transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--copyright-text-grey);
  font-family: var(--font-family);
  padding: 10px;
}

.section-line {
  // width: 1167px;
  border: 0;
  border-bottom: 1px solid var(--copyright-line-grey);
  margin: 0 auto;
  padding-top: 22px;
}

/********** Footer section End **********/
.footer-text-and-social-section {
  max-width: 75em;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  margin-top: 121px;
  margin-bottom: 60px;
}

.contact-section {
  max-width: 75em;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: -78px;
}
.footer-line-copywright {
  margin: 0;
}
// mods=================================
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 15%;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2%;
  // width: 80%;
}
.modal-iframe {
  width: 100%;
  border: none;
}
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.franchise-text {
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 186%;
}
