// .container-for-mobile {
//   display: flex;
//   justify-content: flex-end;
//   position: absolute;
//   z-index: 1;
//   margin-top: 27px;
// }

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #e17992;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  // width: 254px;
  // height: 1020px;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 70px;
}

.mobile-menu .link {
  font-weight: 700;
  font-size: 14px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  gap: 40px;
}

.mobile-buy .buynow {
  border-radius: 22px;
  width: 159px;
  height: 44px;
  border-width: 0px;
  background-color: var(--white);
  color: var(--strong-red);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.close-btn {
  font-size: 60px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
