.masonry {
    display: flex;
}
.slider {
    width: 300px;
    /* Dimensiunea containerului slider-ului */
    height: auto;
    position: relative;
    overflow: hidden;
}

.slides {
    width: 300%;
    /* Lățimea totală a tuturor slide-urilor */
    display: flex;
}

.slide {
    width: 33.33%;
    /* Lățimea fiecărui slide */
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.slide img {
    width: 100px;
    border-radius: 50%;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot:hover {
    background-color: gray;
}

input[type="radio"] {
    display: none;
    /* Ascundem butoanele radio */
}

input[type="radio"]:checked+.dot {
    background-color: gray;
    /* Stilizăm punctele de suspensie când butonul radio asociat este selectat */
}

#slide1:checked~.slides {
    transform: translateX(0);
    /* Poziționăm slide-urile corespunzătoare butonului radio selectat */
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}