.cards-overlap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.masonry {
  max-width: 1013px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  z-index: 28;
  margin-top: -4.5rem;
  display: flex;
  gap: 8px;
  align-items: center;
}
.rounded-corners {
  border-radius: 15%;
}
.rebel-first {
  margin-bottom: -1rem;
}
.rebel-second {
  margin-bottom: 76px;
}

// Slider reviews section

.slider {
  max-width: 900px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  margin-right: 0;
  margin-top: 7.5rem;
}

.house {
  width: 18px;
  height: 18px;
  color: #d9d9d9;
}

.house:hover {
  color: #d31342;
}

.underlined-container {
  padding: 32px;
  background-color: #fafafa;
}

input[type='radio'] {
  display: none;
}

.review-dots {
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 5px;
  cursor: pointer;
}

.dot1 {
  width: 18px;
  background-position: 0 0;
  align-items: center;
}

.dot2 {
  background-position: -10px 0;
}

.dot3 {
  background-position: -20px 0;
}

.checkmark {
  width: 14px;
  height: 14px;
  background-color: #d9d9d9;
  display: flex;
  border-radius: 50%;
}

.ellipse {
  width: 15px;
  height: 14px;
}

.checkmark:hover {
  background-color: #d31342;
}

#slide1:checked ~ .slider .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slider .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider .slides {
  transform: translateX(-200%);
}

.slide img {
  width: 85px;
  height: 85px;
  align-self: center;
}

.underline {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 280%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
  margin-bottom: 0;
  background-image: linear-gradient(
      to bottom,
      #fafafa,
      #fafafa 1px,
      transparent 0,
      transparent 100%
    ),
    repeating-linear-gradient(0deg, #d8d8d8, #d8d8d8 2px, 0, #fafafa 51%);
}

.slide h3::before {
  content: '...';
  display: block;
  text-align: center;
  color: #c7133e;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  padding-block-end: 1.5rem;
}

.slide h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #000;
  margin: 0;
}

.icon-quotation {
  width: 54px;
  height: 40px;
  fill: #e1e1e1;
}
