.cards-overlap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.masonry {
  max-width: 1013px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 28;
  margin-top: -4.5rem;
  display: flex;
  gap: 8px;
  align-items: center;
}
.rounded-corners {
  border-radius: 18%;
}
.rebel-first {
  margin-bottom: -1rem;
}
.rebel-second {
  margin-bottom: 76px;
}

// Slider reviews section

.slider {
  max-width: 900px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
    
.slides {
   display: flex;
   transition: transform 0.5s ease-in-out;
}
    
.slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  margin-right: 0;
  margin-top: 7.5rem;
}

.underlined-container {
  padding: 32px;
  background-color: #fafafa;
}

input[type="radio"] {
  display: none;
}
    
.review-dots {
  text-align: center;
  margin-bottom: 7.5rem;
}
    
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 5px;
  cursor: pointer;
  // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#d31342" d="M39.499 20.958c0.725-0.744 0.655-1.884-0.156-2.546l-17.877-14.591c-0.811-0.662-2.112-0.648-2.907 0.031l-17.937 15.338c-0.794 0.679-0.833 1.818-0.086 2.542l0.45 0.437c0.746 0.724 1.952 0.811 2.692 0.192l1.341-1.12v16.394c0 1.006 0.874 1.82 1.951 1.82h6.992c1.078 0 1.951-0.814 1.951-1.82v-11.47h8.918v11.47c-0.016 1.005 0.756 1.819 1.833 1.819h7.41c1.077 0 1.951-0.814 1.951-1.82v-16.163c0 0 0.37 0.303 0.827 0.677s1.414 0.074 2.139-0.671l0.508-0.521z"/></svg>');
}

.dot1 {
  background-position: 0 0;
}

.dot2 {
  background-position: -10px 0;
}

.dot3 {
  background-position: -20px 0;
}
    
#slide1:checked~.slider .slides {
  transform: translateX(0);
}
    
#slide2:checked~.slider .slides {
  transform: translateX(-100%);
}
    
#slide3:checked~.slider .slides {
  transform: translateX(-200%);
}

.slide img {
  width: 85px;
  height: 85px;
  align-self: center;
}
.underline {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 280%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, #fafafa, #fafafa 1px, transparent 0, transparent 100%), repeating-linear-gradient(0deg, #d8d8d8, #d8d8d8 1px,  0, #fafafa 50%);
  }

.slide h3::before {
  content: '...';
  display: block;
  text-align: center;
  color: #c7133e;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  padding-block-end: 1.5rem;
}

.slide h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #000;
  margin: 0;
}

.icon-quotation {
  width: 54px;
  height: 40px;
  fill: #e1e1e1;
}