<footer>
    <div class="footer-contact-card">
        <p class="cafe-contact-card-title">Cafe</p>
        <ul>
            <li>
                <p class="card-section-title">Chicago</p>
                <p class="card-description">Handcrafted coffee, baked goods, and premium ice cream.</p>
            </li>
            <li>
                <p class="card-section-title">Monday - Friday</p>
                <p class="card-program">06:00 AM - 10:00 PM</p>
                <p class="card-section-title">Saturday - Sunday</p>
                <p class="card-program">08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <address class="contact-info">
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                </address>
            </li>
        </ul>
    </div>
    <div class="footer-contact-card">
        <p class="food-contact-card-title">FOOD TRUCK</p>
        <ul>
            <li>
                <p class="card-section-title">Los Angeles</p>
                <p class="card-description">Fusion cuisine and refreshing ice cream made with passion.</p>
            </li>
            <li>
                <p class="card-section-title">Monday - Friday</p>
                <p class="card-program">06:00 AM - 10:00 PM</p>
                <p class="card-section-title">Saturday - Sunday</p>
                <p class="card-program">08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <address class="contact-info">
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                </address>
            </li>
        </ul>
    </div>
    <div class="footer-contact-card">
        <p class="cafe-contact-card-title">Cafe</p>
        <ul>
            <li>
                <p class="card-section-title">New York</p>
                <p class="card-description">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
            </li>
            <li>
                <p class="card-section-title">Monday - Friday</p>
                <p class="card-program">06:00 AM - 10:00 PM</p>
                <p class="card-section-title">Saturday - Sunday</p>
                <p class="card-program">08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <address class="contact-info">
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                </address>
            </li>
        </ul>
    </div>

</footer>