<!-- Footer Section -->

<footer class="footer-container">
    <div class="contact-section" id="contact">
        <div class="footer-contact-card">
            <ul class="contact-card-content">
                <li>
                    <p class="cafe-contact-card-title">Cafe</p>
                    <p class="card-section-title">Chicago</p>
                    <p class="card-description">Handcrafted coffee, baked goods, and premium ice cream.</p>
                    <hr class="section-line">
                </li>
                <li class="daily-program">
                    <p class="card-section-title">Monday - Friday</p>
                    <p class="card-program">06:00 AM - 10:00 PM</p>
                </li>
                <li class="daily-program">
                    <p class="card-section-title">Saturday - Sunday</p>
                    <p class="card-program">08:00 AM - 16:00 PM</p>
                    <hr class="section-line">
                </li>
                <li class="contact-info">
                    <a href="tel:+610383766284 ">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
        </div>
        <div class="footer-contact-card">
            <ul class="contact-card-content">
                <li>
                    <p class="food-contact-card-title">FOODTRUCK</p>
                    <p class="card-section-title">Los Angeles</p>
                    <p class="card-description">Fusion cuisine and refreshing ice cream made with passion.</p>
                    <hr class="section-line">
                </li>

                <li class="daily-program">
                    <p class="card-section-title">Monday - Friday</p>
                    <p class="card-program">06:00 AM - 10:00 PM</p>
                </li>
                <li class="daily-program">
                    <p class="card-section-title">Saturday - Sunday</p>
                    <p class="card-program">08:00 AM - 16:00 PM</p>
                    <hr class="section-line">
                </li>

                <li>
                    <address class="contact-info">
                        <a href="tel:+610383766284 ">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
        <div class="footer-contact-card">
            <ul class="contact-card-content">
                <li>
                    <p class="cafe-contact-card-title">Cafe</p>
                    <p class="card-section-title">New York</p>
                    <p class="card-description">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
                    <hr class="section-line">
                </li>

                <li class="daily-program">
                    <p class="card-section-title">Monday - Friday</p>
                    <p class="card-program">06:00 AM - 10:00 PM</p>
                </li>
                <li class="daily-program">
                    <p class="card-section-title">Saturday - Sunday</p>
                    <p class="card-program">08:00 AM - 16:00 PM</p>
                    <hr class="section-line">
                </li>

                <li>
                    <address class="contact-info">
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-buttons">
        <button type="button" class="location-btn">Our Locations &#8250;</button>
        <button type="button" class="franchise-btn">Franchise &#8250;</button>
    </div>
    <div class="footer-text-and-social-section">
        <div class="high-text">
            <span class="footer-homemade">HOMEMADE ICE CREAM MADE</span>
            <span class="footer-passion">WITH PASSION</span>
        </div>
        <div class="social-link">
            <div class="footer-social-links">
                <a href="https://www.github.com/" class="icon-bg" target="_blank" rel="nofollow noopener noreferrer"
                    aria-label="github-link">
                    <svg class="social-icons" width="20" height="20">
                        <use href="/src/images/symbol-defs.svg#icon-github">
                        </use>
                    </svg>
                </a>
                <a href="https://www.telegram.com/" class="icon-bg" target="_blank" rel="nofollow noopener noreferrer"
                    aria-label="telegram-link">
                    <svg class="social-icons" width="20" height="16">
                        <use href="/src/images/symbol-defs.svg#icon-telegram-1">
                        </use>
                    </svg>
                </a>
                <a href="https://www.facebook.com/" class="icon-bg" target="_blank" rel="nofollow noopener noreferrer"
                    aria-label="facebook-link">
                    <svg class="social-icons" width="9" height="20">
                        <use href="/src/images/symbol-defs.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </div>
            <div class="footer-contact">
                <span class="feel-free">Feel free to contact</span>
                <a href="tel:+610383766284" class="phone">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>
    <hr class="footer-line-copywright">
    <span class="footer-copyright">© 2022 IceCream. All Rights Reserved.</span>
</footer>

</html>