<!-- Footer Section -->

<footer class="footer-container">
    <div class="footer-buttons">
        <button type class="location-btn">Our Locations &#8250;</button>
        <button type="button" class="franchise-btn">Franchise &#8250;</button>
    </div>
    <div class="footer-text-and-social-section">
        <div class="high-text">
            <span class="footer-homemade">HOMEMADE ICE CREAM MADE</span>
            <span class="footer-passion">WITH PASSION</span>
        </div>
        <div class="social-link">
            <div class="footer-social-links">
                <a href="https://www.github.com/" class="icon-bg" target="_blank" rel="nofollow noopener noreferrer"
                    aria-label="github-link">
                    <svg class="social-icons" width="34" height="34">
                        <use href="./images/symbol-defs.svg#icon-github">
                        </use>
                    </svg>
                </a>
                <a href="https://www.telegram.com/" class="icon-bg" target="_blank" rel="nofollow noopener noreferrer"
                    aria-label="telegram-link">
                    <svg class="social-icons" width="34" height="34">
                        <use href="./images/symbol-defs.svg#icon-telegram-1">
                        </use>
                    </svg>
                </a>
                <a href="https://www.facebook.com/" class="icon-bg" target="_blank" rel="nofollow noopener noreferrer"
                    aria-label="facebook-link">
                    <svg class="social-icons" width="34" height="34">
                        <use href="./images/symbol-defs.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </div>
            <div class="footer-contact">
                <span>Feel free to contact</span>
                <a href="tel:+61(0)383766284" class="phone">+61 (0) 383 766 284</a>
            </div>
        </div>
        <hr>
        <span class="footer-copyright">© 2022 IceCream. All Rights Reserved.</span>
    </div>
</footer>

</html>