<div class="menu-container js-menu-container" id="mobile-menu">
  <span class="close-btn js-close-menu">&times;</span>

  <div class="mobile-buy">
    <button class="buynow" href="#">Buy now</button>
  </div>
  <nav class="mobile-menu">
    <ul>
      <li>
        <a href="#" class="link">Home</a>
      </li>
      <li>
        <a href="#" class="link">About us</a>
      </li>
      <li>
        <a href="#" class="link">How it's made?</a>
      </li>
      <li>
        <a href="#" class="link">Our products</a>
      </li>
      <li>
        <a href="#" class="link">Contact</a>
      </li>
    </ul>
  </nav>
</div>
