<!-- <link rel="stylesheet" href="/src/sass/mobile-menu.scss" /> -->
<div class="container-for-mobile">
  <button
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <span class="close-btn js-close-menu">&times;</span>

    <div class="mobile-buy">
      <button class="buynow" href="#">Buy now</button>
    </div>
    <nav class="mobile-menu">
      <ul>
        <li>
          <a href="#" class="link">Home</a>
        </li>
        <li>
          <a href="#" class="link">About us</a>
        </li>
        <li>
          <a href="#" class="link">How it's made?</a>
        </li>
        <li>
          <a href="#" class="link">Our products</a>
        </li>
        <li>
          <a href="#" class="link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
