<section class="page">
    <div class="title">
        <h3>100% NATURAL</h3>
        <h2>PRODUCTS</h2>
    </div>
    <div class="products">
        <ul>
            <div class="container">
                <li class="ice-cream">
                    <img src="./images/products-ice-cream.png" class="ice" alt="A pic of an ice cream">
                    <h3>ICE CREAM</h3>
                    <svg class="dots">
                        <use href="images/symbol-defs.svg#icon-group"></use>
                    </svg>
                    <p>Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients
                        and
                        available
                        in a
                        variety of
                        flavors.</p>
                    <a href=""><svg class="arrow">
                            <use href="./images/symbol-defs.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </a>
                </li>

                <li class="coffee">
                    <img src="./images/products-ice-coffee.png" class="brew" alt="A pic of an iced coffee glass">
                    <h3>ICE COFFEE</h3>
                    <svg class="dots">
                        <use href="images/symbol-defs.svg#icon-group"></use>
                    </svg>
                    <p>Refresh and energize with our perfectly brewed iced coffee, made with high-quality beans and
                        served
                        over ice.</p>
                    <a href=""><svg class="arrow">
                            <use href="./images/symbol-defs.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="milkshake">
                    <img src="./images/products-milkshakes.png" class="shake" alt="A pic of a milkshake glass">
                    <h3>MILKSHAKE</h3>
                    <svg class="dots">
                        <use href="images/symbol-defs.svg#icon-group"></use>
                    </svg>
                    <p>Satisfy your sweet tooth with our thick, made with premium ice cream, topped with whipped
                        cream
                        and
                        your favorite
                        toppings..</p>
                    <a href=""><svg class="arrow">
                            <use href="./images/symbol-defs.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</section>