<div class="masonry">
  <div class="masonry-item-1">
    <img src="/src/images/variety1.jpg" alt="icecream" />
  </div>
  <div class="masonry-item-2">
    <img src="/src/images/variety2.jpg" alt="icecream" />
    <img src="/src/images/variety3.jpg" alt="icecream" />
  </div>
  <div class="masonry-item-3">
    <img src="/src/images/variety4.jpg" alt="icecream" />
    <img src="/src/images/variety5.jpg" alt="icecream" />
  </div>
  <div class="masonry-item-4">
    <img src="/src/images/variety6.jpg" alt="icecream" />
    <img src="/src/images/variety7.jpg" alt="icecream" />
  </div>
  <div class="masonry-item-5">
    <img src="/src/images/variety8.jpg" alt="icecream" />
    <img src="/src/images/variety9.jpg" alt="icecream" />
  </div>
  <div class="masonry-item-6">
    <img src="/src/images/variety10.jpg" alt="icecream" />
  </div>
</div>

<div class="testimonial-carousel">
  <div class="testimonial">
    <img src="/src/images/testimonials.png" alt="Client 1" />
    <svg class="icon-quotation">
      <use
        xlink:href="/src/images/symbol-defs.svg#icon-testimonial-quotes"
      ></use>
    </svg>
    <p>
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <h3>Emily, Los Angeles</h3>
  </div>
  <div class="testimonial">
    <img src="/src/images/testimonials2.png" alt="Client 2" />
    <svg class="icon-quotation">
      <use
        xlink:href="/src/images/symbol-defs.svg#icon-testimonial-quotes"
      ></use>
    </svg>
    <p>
      Wonderfull! I love visiting your cafe. You prepare the most delicious ice
      cream in Los Angeles! In addition, you have beautiful serving, cozy
      atmosphere and polite staff.
    </p>
    <h3>Suzanna, New York</h3>
  </div>
  <div class="testimonial">
    <img src="/src/images/testimonials3.png" alt="Client 3" />
    <svg class="icon-quotation">
      <use
        xlink:href="/src/images/symbol-defs.svg#icon-testimonial-quotes"
      ></use>
    </svg>
    <p>
      Awesome! I love visiting your cafe. You prepare the most delicious ice
      cream in Los Angeles! In addition, you have beautiful serving, cozy
      atmosphere and polite staff.
    </p>
    <h3>Nataly, Chicago</h3>
  </div>
</div>
