<section class="cards-overlap">
  <div class="masonry">
    <div class="masonry-item-1">
      <img
        class="rounded-corners"
        src="/src/images/variety1.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-2">
      <img
        class="rounded-corners"
        src="/src/images/variety2.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety3.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-3">
      <img
        class="rounded-corners"
        src="/src/images/variety4.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety5.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-4 rebel-first">
      <img
        class="rounded-corners"
        src="/src/images/variety6.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety7.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item-5 rebel-second">
      <img
        class="rounded-corners"
        src="/src/images/variety8.jpg"
        alt="icecream"
      />
      <img
        class="rounded-corners"
        src="/src/images/variety9.jpg"
        alt="icecream"
      />
    </div>
    <div class="masonry-item">
      <img
        class="rounded-corners"
        src="/src/images/variety10.jpg"
        alt="icecream"
      />
    </div>
  </div>
</section>

<!-- Slider reviews  section -->
<section>
  <input type="radio" name="slider" id="slide2" />
  <input type="radio" name="slider" id="slide3" />
  <div class="slider">
    <div class="slides">
      <div class="slide">
        <img src="/src/images/testimonials.png" alt="Client 1" />
        <div class="underlined-container">
          <p class="underline">
            <svg class="icon-quotation">
              <use
                xlink:href="/src/images/symbol-defs.svg#icon-testimonial-quotes"
              ></use>
            </svg>
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <h3>Emily, Los Angeles</h3>
      </div>
      <div class="slide">
        <img src="/src/images/testimonials2.png" alt="Client 2" />
        <div class="underlined-container">
          <p class="underline">
            <svg class="icon-quotation">
              <use
                xlink:href="/src/images/symbol-defs.svg#icon-testimonial-quotes"
              ></use>
            </svg>
            Wonderfull! I love visiting your cafe. You prepare the most
            delicious ice cream in Los Angeles! In addition, you have beautiful
            serving, cozy atmosphere and polite staff.
          </p>
        </div>
        <h3>Suzanna, New York</h3>
      </div>
      <div class="slide">
        <img src="/src/images/testimonials3.png" alt="Client 3" />
        <div class="underlined-container">
          <p class="underline">
            <svg class="icon-quotation">
              <use
                xlink:href="/src/images/symbol-defs.svg#icon-testimonial-quotes"
              ></use>
            </svg>
            Awesome! I love visiting your cafe. You prepare the most delicious
            ice cream in Los Angeles! In addition, you have beautiful serving,
            cozy atmosphere and polite staff.
          </p>
        </div>
        <h3>Nataly, Chicago</h3>
      </div>
    </div>
  </div>
  <div class="review-dots">
    <label class="dot dot1" for="slide1">
      <svg class="house">
        <use href="/src/images/symbol-defs.svg#icon-little-house"></use>
      </svg>
      <input type="radio" name="slider" id="slide1" />
    </label>
    <label class="dot dot2 ellipse" for="slide2">
      <span class="checkmark"></span>
    </label>
    <label class="dot dot3 ellipse" for="slide3">
      <span class="checkmark"></span>
    </label>
  </div>
</section>
