<div class="masonry">
  <div class="masonry-item">
    <img src="../images/variety1.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety2.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety3.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety4.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety5.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety6.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety7.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety8.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety9.jpg" alt="Icecream" />
  </div>
  <div class="masonry-item">
    <img src="../images/variety10.jpg" alt="Icecream" />
  </div>
</div>

<div class="slider">
  <div class="slides">
    <div class="slide slide1">
      <img src="../images/testimonials.png" alt="Client 1" />
      <svg class="icon-quotation">
        <use xlink:href="../images/symbol-defs.svg#icon-quotation"></use>
      </svg>
      <p>
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <h3>Emily, Los Angeles</h3>
    </div>
    <div class="slide slide2">
      <img src="../images/testimonials2.png" alt="Client 2" />
      <svg class="icon-quotation">
        <use xlink:href="../images/symbol-defs.svg#icon-quotation"></use>
      </svg>
      <p>
        Wonderfull! I love visiting your cafe. You prepare the most delicious
        ice cream in Los Angeles! In addition, you have beautiful serving, cozy
        atmosphere and polite staff.
      </p>
      <h3>Suzanna, New York</h3>
    </div>
    <div class="slide slide3">
      <img src="../images/testimonials3.png" alt="Client 3" />
      <svg class="icon-quotation">
        <use xlink:href="../images/symbol-defs.svg#icon-quotation"></use>
      </svg>
      <p>
        Awesome! I love visiting your cafe. You prepare the most delicious ice
        cream in Los Angeles! In addition, you have beautiful serving, cozy
        atmosphere and polite staff.
      </p>
      <h3>Nataly, Chicago</h3>
    </div>
  </div>
</div>
