<section class="howitsmade-section">
  <div class="container-for-section2" id="how-its-made">
    <h3 class="subtitle">Tradition and Love</h3>
    <p class="howitsmade-title">How It's Made</p>
  </div>
  <div class="howitsmade-background">
    <div class="gap-for-cow">
      <div class="cow">
        <!-- <img
      class="cow-jug"
      src="/src/images/howitsmade-cow-jug.png"
      alt="Cowandmilk"
      width="501"
      height="501"
    /> -->
        <picture>
          <!-- Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/desktop/howitsmade-cow-jug-desktop.png,
              /src/images/desktop-retina/howitsmade-cow-jug-desktopx2.png
            "
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/tablet/howitsmade-cow-jug-tablet.png,
              /src/images/tablet-retina/howitsmade-cow-jug-tabletX2.png
            "
          />

          <!-- Mobil-->
          <source
            media="(min-width: 320px)"
            srcset="
              /src/images/mobile/howitsmade-cow-jug-mobile.png,
              /src/images/mobile-retina/howitsmade-cow-jug-mobileX2.png
            "
          />
          <img
            src="/src/images/desktop/howitsmade-cow-jug-desktop.png"
            alt="Cowandmilk"
          />
        </picture>
      </div>
      <div class="right-p-cow">
        <p class="one-sec2">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="two-sec2">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <button type="button" class="howitsmade-btn">Read more ></button>
      </div>
    </div>
  </div>
  <div class="icon-list-section2">
    <div class="first-box-sec2">
      <svg class="svg-sec2">
        <use href="/src/images/symbol-defs.svg#icon-howitsmade-udder"></use>
      </svg>
      <h2>721</h2>
      <p>
        At 721 Cow, we're passionate about producing the highest quality ice
        cream possible.
      </p>
    </div>
    <div class="second-box-sec2">
      <svg class="svg-sec2">
        <use href="/src/images/symbol-defs.svg#icon-howitsmade-apples"></use>
      </svg>
      <h2>16kg</h2>
      <p>
        You can be sure you're getting a scoop of the freshest ice cream around.
      </p>
    </div>
    <div class="third-box-sec2">
      <svg class="svg-sec2">
        <use
          href="/src/images/icon-howitsmade-heart.svg#icon-icon-howitsmade-heart"
        ></use>
      </svg>
      <h2>84</h2>
      <p>
        We use only the freshest, locally-sourced ingredients to make our unique
        and delicious flavors.
      </p>
    </div>
  </div>
</section>
